<template>

  <div class="ds-day"
    :class="classesDay"
    @mouseenter="mouseEnterDay"
    @mouseleave="mouseLeaveDay"
    @mousemove.stop="mouseMove"
    @mousedown="mouseDown"
    @mouseup="mouseUp"
    @dragstart.prevent
  >
    <!--  HOURS DISPLAY  -->
    <div class="ds-hour"
      v-for="h in 24"
      @click.stop="addAt( h )"
    />

    <template v-for="(event, i) in day.events">

      <ds-calendar-event-time
        v-if="isVisible( event ) && isEnabled( event )"
        v-bind="{$scopedSlots}"
        v-on="$listeners"
        :calendar-event="event"
        :key="event.id"
        :id="id"
        :calendar="calendar"
      />

    </template>

    <!--  CURRENT DAY  -->
    <div
      v-if="day.currentDay"
      :style="nowLine"
    />

    <!--  VARIOUS EVENT  -->
    <div v-if="hasPlaceholder">

      <ds-calendar-event-time-placeholder
        v-bind="{$scopedSlots}"
        v-on="$listeners"
        :day="day"
        :id="id"
        :placeholder="placeholder"
        :placeholder-for-create="placeholderForCreate"
        :calendar="calendar"
      />

    </div>

  </div>

</template>

<script>
import { Constants, CalendarDay, CalendarEvent, Calendar, DaySpan, Functions as fn } from 'dayspan';
import { mapGetters, mapActions } from 'vuex'

export default {

  name: 'dsDayTimes',

  props: {
    day: {
      required: true,
      type: CalendarDay
    },

    calendar: {
      required: true,
      type: Calendar
    },

    placeholder: {
      type: CalendarEvent
    },

    placeholderForCreate: {
      type: Boolean,
      default: false
    },

    id: {
      type: Number,
      required: true
    }
  },

  data () {
    return {
      tmpSurgery: null
    }
  },

  computed: {
    ...mapGetters({
      linotticaOffices: 'surgeries/surgeries',
      selectedSurgery: 'surgeries/selectedSurgery'
    }),
    classesDay() {
      return {
        'ds-day-today': this.day.currentDay,
        'ds-day-past': this.day.currentOffset < 0,
        'ds-day-future': this.day.currentOffset > 0
      };
    },

    nowLine() {
      return this.$dayspan.getStyleNow();
    },

    hasPlaceholder() {
      if(this.selectedSurgery !== null && this.selectedSurgery !== undefined)
        this.tmpSurgery = this.selectedSurgery

      return this.placeholder &&
        !this.placeholder.fullDay &&
        this.placeholder.time.matchesDay( this.day ) &&
        this.id === this.tmpSurgery;
    }
  },

  methods: {
    ...mapActions({
      SET_SURGERY: 'surgeries/SET_SURGERY'
    }),
    isVisible(calendarEvent) {
      if (calendarEvent.fullDay) {
        return false;
      }
      return !(this.$dayspan.features.hideOnMove &&
          this.placeholder &&
          this.placeholder.event === calendarEvent.event);
    },

    isEnabled(calendarEvent) {
       let calendarName = calendarEvent.event.data.calendar
       let currentId = false;
       let o = false;

       this.linotticaOffices.forEach(item => {
           if(item.name === calendarName) currentId = item.id
       });
       if(currentId !== false) {
           if(this.id === currentId) o = true
       }
       return o
     },

    addAt(hour) {
      this.$emit('add-at', {
        day: this.day,
        hour: hour - 1
      });
    },

    mouseEnterDay($event) {
      this.$emit('mouse-enter-day', this.day);
    },

    mouseLeaveDay($event) {
      this.$emit('mouse-leave-day', this.day);
    },

    mouseMove($event) {
      const time = this.getTimeAt($event, this.$dayspan.rounding.move);
      const timeDrag = this.getTimeAt($event, this.$dayspan.rounding.add, true);
      const ev = this.getEvent('mouse-move', $event, {time, timeDrag});
      this.$emit('mouse-move', ev);
    },

    mouseDown($event) {
        const time = this.getTimeAt($event, this.$dayspan.rounding.add);
        const ev = this.getEvent('mouse-down', $event, {time});

        this.SET_SURGERY(this.id)

        this.$emit('mouse-down', ev);
    },

    mouseUp($event) {
        const time = this.getTimeAt($event, this.$dayspan.rounding.add, true);
        const ev = this.getEvent('mouse-up', $event, {time});

        this.$emit('mouse-up', ev);
    },

    getEvent(type, $event, extra = {}) {
      let o = fn.extend({
        type: type,
        day: this.day,
        left: $event.button === 0 && $event.buttons > 0,
        right: $event.button === 1 && $event.buttons > 0,
        handled: false,
        $event: $event,
        $vm: this,
        $element: this.$el
      }, extra);

      const id = this.id;

      if(o.$vm.placeholder) {
        this.linotticaOffices.forEach(item => {
          if (item.id === id) {
            o.$vm.placeholder.data.calendar = item.name
          }
        });
      }

      return o;
    },

    getTimeAt($event, roundTo, roundUp) {
      const bounds = this.$el.getBoundingClientRect();
      const y = ($event.clientY - bounds.y) / bounds.height;
      const millis = Math.round(Constants.MILLIS_IN_DAY * y);
      let time = this.day.start().relative(millis);
      if (roundTo) {
        time = this.$dayspan.roundTime(time, roundTo, roundUp);
      }
      return time;
    }
  }
}
</script>

<style scoped lang="scss">

.v-menu__activator {
  align-items: end;
}

.ds-day {
  /*flex: 1;*/
  width: 0;
  border-bottom: #e0e0e0 1px solid;

  &.ds-day-today {
    background-color: rgba(0,0,0,0.04);
  }

  &.ds-day-past {

  }

  &.ds-day-future {

  }
}

.ds-hour {
  height: 40px;
  border-bottom: #e0e0e0 1px solid;
  border-right: #e0e0e0 1px solid;
}

</style>
