<template>
    <v-checkbox
        :label="surgeries.name"
        :color="surgeries.color"
        @click.native="changeValue(surgeries.id)"
        :input-value="check_status"
        :disabled="isDisabled"
        :messages="message"
        dense
    />
</template>

<script>
import { mapMutations, mapState, mapGetters } from 'vuex'
export default {
    props: {
        surgeries: {
            type: Object,
            required: true
        }
    },
    data () {
        return {
            message: false
        }
    },
    computed: {
        ...mapGetters({
            activeSurgeries: 'surgeries/activeSurgeries'
        }),
        ...mapState({
            surgeriesStore: 'surgeries'
        }),
        check_status () {
            return this.surgeriesStore.surgeries[this.surgeries.id].activated
        },
        isDisabled () {
            //  SE SI STA METTENDO A TRUE IL SUO STATO
            if (!this.surgeriesStore.surgeries[this.surgeries.id].activated) {
                this.message = ''
                return false
            }
            //  SE SI METTE A FALSE

            //  SE SONO ATTIVI UN NUMERO MAGGIORE DI 1
            if (this.activeSurgeries > 1) {
                this.message = ''
                return false
            }

            //  SE CI SONO 0 ATTIVI
            if (this.activeSurgeries === 0) {
                this.message = ''
                return false
            }

            //  SE C'É SOLO UN CALENDARIO APERTO
            this.message = 'Almeno un calendario deve restare aperto'
            return true
        }
    },
    methods: {
        ...mapMutations({
            calendarChangeState: 'surgeries/calendarChangeState'
        }),
        changeValue (surgeries_id) {
            //  SE LO SI STA ATTIVANDO
            if (!this.surgeriesStore.surgeries[surgeries_id].activated) {
                this.calendarChangeState(surgeries_id);
                this.status = !this.status;
                return
            }
            //  SE SONO ATTIVI UN NUMERO DIVERSO DA 1
            if (this.activeSurgeries !== 1) {
                this.calendarChangeState(surgeries_id);
                this.status = !this.status;
                return
            }
            //  SE PER CASO CI SONO 0 ATTIVI
            if (this.activeSurgeries === 0) {
                this.calendarChangeState(surgeries_id);
                this.status = !this.status
            }
        }
    }
}
</script>
