<template>
  <v-app id="dayspan" class="" @load="setLocale('it')" v-cloak>

    <ds-calendar-app ref="app"
      :calendar="calendar"
      :read-only="readOnly"
      @change="saveState"
    >

      <!--      LOGO LINOTTICA      -->
      <template slot="logo">
        <v-btn style="width: 150px; height: 100%" flat href="https://linottica.it/" target="_blank">
          <img src="/Linottica-logo.png" style="width: 150px" href="https://linottica.it/" alt="Logo_linottica"/>
        </v-btn>
      <!--        SE THEMA = DARK       -->
<!--        <img v-else src="/Linottica-logo-b.png" style="width: 150px" />-->
      </template>

      <!--      LOGO INDAWEB    -->
      <template slot="menuRight">
        <v-btn icon large href="https://indaweb.it/" target="_blank">
          <v-avatar size="32px" tile>
            <img src="https://indaweb.it/wp-content/uploads/2016/05/cropped-logo-W-singola.png" alt="IndaWeb">
          </v-avatar>
        </v-btn>
      </template>

      <template slot="eventPopover" slot-scope="slotData">
         <ds-calendar-event-popover
          v-bind="slotData"
          :read-only="readOnly"
          @finish="saveState"/>
      </template>

      <template slot="eventCreatePopover" slot-scope="{placeholder, calendar, close}">
        <ds-calendar-event-create-popover
          :calendar-event="placeholder"
          :calendar="calendar"
          :close="$refs.app.$refs.calendar.clearPlaceholder"
          @create-edit="$refs.app.editPlaceholder"
          @create-popover-closed="saveState"
        />
      </template>

      <template slot="eventTimeTitle" slot-scope="{calendarEvent, details}">
        <div>
          <v-icon class="ds-ev-icon"
            v-if="details.icon"
            size="14"
            :style="{color: details.forecolor}">
            {{ details.icon }}
          </v-icon>
          <strong class="ds-ev-title">{{ details.title }}</strong>
        </div>
        <div class="ds-ev-description">{{ getCalendarTime( calendarEvent ) }}</div>
      </template>

      <template slot="drawerBottom">
        <v-container fluid>
          <v-layout wrap align-center>

            <v-flex xs12
              v-for="surgeries in linotticaOffices"
              :key="surgeries.id"
            >
              <calendar-checkbox :surgeries="surgeries" />
            </v-flex>
<!--            COMPONENT 'READONLY'-->
<!--            <v-flex xs12>-->
<!--              <v-checkbox box-->
<!--                label="Read Only?"-->
<!--                v-model="readOnly"-->
<!--              />-->
<!--            </v-flex>-->
<!--            COMPONENT 'SELECT LANGUAGES'-->
<!--            <v-flex xs12>-->
<!--              <v-select-->
<!--                label="Language"-->
<!--                :items="locales"-->
<!--                v-model="currentLocale"-->
<!--                @input="setLocale"-->
<!--              ></v-select>-->
<!--            </v-flex>-->
          </v-layout>
          <v-btn
            @click="logout"
            color="black"
            class="white--text"
            style="width: 100%"
          >
            LOGOUT
          </v-btn>
        </v-container>
      </template>

    </ds-calendar-app>

  </v-app>
</template>

<script>
  import {Calendar} from 'dayspan';
  import * as moment from 'moment';
  import calendarCheckbox from '@/components/calendarCheckbox'
  import {mapActions, mapGetters} from 'vuex'

  export default {

  components: {
    calendarCheckbox
  },

  name: 'dayspan',

  data: vm => ({
    storeKey: 'dayspanState',
    calendar: Calendar.months(),
    readOnly: false,
    currentLocale: 'it',
    locales: [
      // { value: 'en', text: 'English' },
      // { value: 'fr', text: 'French' },
      // { value: 'de', text: 'German' },
      // { value: 'nl', text: 'Dutch' },
      // { value: 'ca', text: 'Catalan' },
      { value: 'it', text: 'Italiano' }
    ],
    selectedCalendar: null
    // defaultEvents: [
    //   {
    //     data: {
    //       title: 'Weekly Meeting',
    //       color: '#3F51B5'
    //     },
    //     schedule: {
    //       dayOfWeek: [Weekday.MONDAY],
    //       times: [9],
    //       duration: 30,
    //       durationUnit: 'minutes'
    //     }
    //   },
    //   {
    //     data: {
    //       title: 'First Weekend',
    //       color: '#4CAF50'
    //     },
    //     schedule: {
    //       weekspanOfMonth: [0],
    //       dayOfWeek: [Weekday.FRIDAY],
    //       duration: 3,
    //       durationUnit: 'days'
    //     }
    //   },
    //   {
    //     data: {
    //       title: 'End of Month',
    //       color: '#000000'
    //     },
    //     schedule: {
    //       lastDayOfMonth: [1],
    //       duration: 1,
    //       durationUnit: 'hours'
    //     }
    //   },
    //   {
    //     data: {
    //       title: 'Mother\'s Day',
    //       color: '#2196F3',
    //       calendar: 'US Holidays'
    //     },
    //     schedule: {
    //       month: [Month.MAY],
    //       dayOfWeek: [Weekday.SUNDAY],
    //       weekspanOfMonth: [1]
    //     }
    //   },
    //   {
    //     data: {
    //       title: 'New Year\'s Day',
    //       color: '#2196F3',
    //       calendar: 'US Holidays'
    //     },
    //     schedule: {
    //       month: [Month.JANUARY],
    //       dayOfMonth: [1]
    //     }
    //   },
    //   {
    //     data: {
    //       title: 'Inauguration Day',
    //       color: '#2196F3',
    //       calendar: 'US Holidays'
    //     },
    //     schedule: {
    //       month: [Month.JANUARY],
    //       dayOfMonth: [20]
    //     }
    //   },
    //   {
    //     data: {
    //       title: 'Martin Luther King, Jr. Day',
    //       color: '#2196F3',
    //       calendar: 'US Holidays'
    //     },
    //     schedule: {
    //       month: [Month.JANUARY],
    //       dayOfWeek: [Weekday.MONDAY],
    //       weekspanOfMonth: [2]
    //     }
    //   },
    //   {
    //     data: {
    //       title: 'George Washington\'s Birthday',
    //       color: '#2196F3',
    //       calendar: 'US Holidays'
    //     },
    //     schedule: {
    //       month: [Month.FEBRUARY],
    //       dayOfWeek: [Weekday.MONDAY],
    //       weekspanOfMonth: [2]
    //     }
    //   },
    //   {
    //     data: {
    //       title: 'Memorial Day',
    //       color: '#2196F3',
    //       calendar: 'US Holidays'
    //     },
    //     schedule: {
    //       month: [Month.MAY],
    //       dayOfWeek: [Weekday.MONDAY],
    //       lastWeekspanOfMonth: [0]
    //     }
    //   },
    //   {
    //     data: {
    //       title: 'Independence Day',
    //       color: '#2196F3',
    //       calendar: 'US Holidays'
    //     },
    //     schedule: {
    //       month: [Month.JULY],
    //       dayOfMonth: [4]
    //     }
    //   },
    //   {
    //     data: {
    //       title: 'Labor Day',
    //       color: '#2196F3',
    //       calendar: 'US Holidays'
    //     },
    //     schedule: {
    //       month: [Month.SEPTEMBER],
    //       dayOfWeek: [Weekday.MONDAY],
    //       lastWeekspanOfMonth: [0]
    //     }
    //   },
    //   {
    //     data: {
    //       title: 'Columbus Day',
    //       color: '#2196F3',
    //       calendar: 'US Holidays'
    //     },
    //     schedule: {
    //       month: [Month.OCTOBER],
    //       dayOfWeek: [Weekday.MONDAY],
    //       weekspanOfMonth: [1]
    //     }
    //   },
    //   {
    //     data: {
    //       title: 'Veterans Day',
    //       color: '#2196F3',
    //       calendar: 'US Holidays'
    //     },
    //     schedule: {
    //       month: [Month.NOVEMBER],
    //       dayOfMonth: [11]
    //     }
    //   },
    //   {
    //     data: {
    //       title: 'Thanksgiving Day',
    //       color: '#2196F3',
    //       calendar: 'US Holidays'
    //     },
    //     schedule: {
    //       month: [Month.NOVEMBER],
    //       dayOfWeek: [Weekday.THURSDAY],
    //       weekspanOfMonth: [3]
    //     }
    //   },
    //   {
    //     data: {
    //       title: 'Christmas Day',
    //       color: '#2196F3',
    //       calendar: 'US Holidays'
    //     },
    //     schedule: {
    //       month: [Month.DECEMBER],
    //       dayOfMonth: [25]
    //     }
    //   }
    // ]
  }),

  async created () {
    await this.FETCH_ALL_SURGERIES()
  },

  async mounted () {
    window.app = this.$refs.app;
    await this.loadState();
  },

  computed: {
    ...mapGetters({
      linotticaOffices: 'surgeries/surgeries'
    })
  },

  methods: {
    ...mapActions({
      FETCH_ALL_SURGERIES: 'surgeries/FETCH_ALL_SURGERIES',
      FETCH_ALL_EVENTS: 'event/FETCH_ALL_EVENTS'
    }),

    async logout() {
      this.$toast.show('Logging out...', {icon: "fingerprint"});
      await this.$auth.logout()
      this.$toast.success('Successfully Logged Out', {icon: 'done'});
    },

    getCalendarTime(calendarEvent) {
      let sa = calendarEvent.start.format('a');
      let ea = calendarEvent.end.format('a');
      let sh = calendarEvent.start.format('h');
      let eh = calendarEvent.end.format('h');

      if (calendarEvent.start.minute !== 0) {
        sh += calendarEvent.start.format(':mm');
      }

      if (calendarEvent.end.minute !== 0) {
        eh += calendarEvent.end.format(':mm');
      }

      return (sa === ea) ? (sh + ' - ' + eh + ea) : (sh + sa + ' - ' + eh + ea);
    },

    setLocale (code) {
      moment.locale(code);

      this.$dayspan.setLocale(code);
      this.$dayspan.refreshTimes();

      this.$refs.app.$forceUpdate();
    },

    //  TODO: RIMUOVI QUESTO CHE SALVA GLI EVENTI NELLO STATO
    saveState () {
      let state = this.calendar.toInput(true);
      let json = JSON.stringify(state);

      localStorage.setItem(this.storeKey, json);
    },

    //  TODO: RIMUOVI QUESTO CHE PRENDE GLI EVENTI DALLO STATO
    async loadState () {
      let state = {};

      // try {
      //   let saveddState = JSON.parse(localStorage.getItem(this.storeKey));
      //
      //   if (savedState) {
      //     state = savedState;
      //     state.preferToday = false;
      //   }
      // }
      // catch (e) {
      //   console.log( e );
      // }

      // if (!state.events || !state.events.length) {
      //   state.events = this.defaultEvents;
      // }

      // let defaults = this.$dayspan.getDefaultEventDetails();

      // if(this.defaultEvents) {
      //   state.events.forEach(ev => {
      //     ev.data = dsMerge( ev.data, defaults );
      //   });
      // }

      //  TODO: CONTROLLO CHE NON SIA GIÁ STATO FATTO ( SE EVENTI É VUOTO )
      await this.FETCH_ALL_EVENTS()
      .then((res) => {
        state.events = res
        this.$refs.app.setState( state )
      })

      // this.$refs.app.setState( state );
    },
  }
}
</script>

<style>

body, html, #app {
  width: 100%;
  height: 100%;
}

</style>
