<template>
    <calendar />
</template>

<script>
import calendar from '../components/calendar.vue'

export default {
  components: {
      calendar
  },
  methods: {
    isLoggedIn(){
      console.log(this.$store.state.auth.loggedIn)
    },
    logout() {
      this.$toast.show('Logging out...', {icon: "fingerprint"});
      this.$auth.logout()
    }
  }
}
</script>

<style>
</style>
