<template>
    <div class="form">
        <div class="w-full max-w-xs">
            <img src="/Linottica-logo.png" alt="Linottica_Logo">
            <form class="form__container">
                <div class="mb-4">
                    <label class="form-username-label" for="username">
                        Username
                    </label>
                    <input class="form-username-textfield" v-model="username" id="username" type="text" placeholder="Inserisci l'username">
                </div>
                <div class="mb-6">
                    <label class="form-password-label" for="password">
                        Password
                    </label>
                    <input ref="password" class="form-password-textfield" v-model="password" id="password" type="password" placeholder="Inserisci la password">
                </div>
                <div class="flex items-center justify-between">
                  <button class="form-button" type="button" @click="login">
                      Sign In
                  </button>
                </div>
            </form>
        </div>
    </div>
</template>

<script>

export default {
  data () {
    return {
      username: null,
      password: null
    }
  },
  methods: {
    async login() {
      this.$toast.show('Logging in...', {icon: 'fingerprint'});
      await this.$auth.loginWith('local', {
        data: {
          "name": this.username,
          "password": this.password
        }
      })
      .then(async({data}) => {
        await this.$auth.setUserToken(data.token)
        await this.$auth.setUser(this.$store.state.auth.user)
      })
      .catch(e => {
        this.$toast.error('Failed Logging In', {icon: "error_outline"});
      });
      if (this.$store.state.auth.loggedIn) {
        this.$toast.success('Successfully Logged In', {icon: 'done'});
      } else {
        this.$toast.error('Username or Password wrong', {icon: 'error'});
      }
    }
  }
}
</script>

<style lang="postcss" scoped>
    .form {
        @apply w-full min-h-screen flex justify-center items-center;
    }
    .form__container {
        @apply bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4
    }
    .form-username-label {
        @apply block text-gray-700 text-sm font-bold mb-2
    }
    .form-password-label {
        @apply block text-gray-700 text-sm font-bold mb-2
    }
    .form-username-textfield,
    .form-password-textfield {
        @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight
    }
    .form-password-textfield {
        @apply border-red-500 mb-3;
    }
    .form-button {
        @apply bg-red-500 text-white font-bold py-2 px-4 rounded
    }
    .form-button:hover {
        @apply bg-red-700
    }
    .form-username-textfield:focus,
    .form-password-textfield:focus,
    .form-button:focus {
        outline: none;
        box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
    }
</style>
